@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;500;600&display=swap');

:root{
    font-size: 18px;
}

body{
    font-family: 'Akshar',sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2rem;
    font-weight: 500;

    background-color: rgb(210, 255, 255);
    margin: 0;
    padding: 20px 10px;
}
h3{
    margin: 5px 0;
    font-size: 1.5rem;
}
p{
    margin: 0;
}

.text-center{
    text-align: center;
}

.container{
    padding: 2.5rem 5%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 1.5rem 2rem;
}

.grid-item{
    background:  linear-gradient(40deg , rgb(118, 223, 223) ,rgb(186, 68, 255), rgb(233, 118, 137));
    min-height: 300px;
    border-radius: 5px;
    position: relative;
    padding: 2.5%;
    z-index: 1;
}

.grid-item:before{
    content: '';
    position: absolute;
    z-index: -1;

    /*for 5px border on all sides */
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    inset: 5px;

    border-radius: 5px;
    background-color: white;
}

.grid-content{
    padding: 15px;
}
.grid-img{
    display: flex;
    justify-content: center;
}
.grid-img img{
    max-width: 15vw;
}

.flexBox{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.discount-price{
    font-size: 1.1rem;
    color: rgb(151, 0, 0);
}

.btn-buy{
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: .8rem;
    letter-spacing: .8px;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.btn-buy:hover{
    background: rgb(255, 225, 170);
    transform: scale(.9);
    box-shadow: 0px 0px 1px rgb(224, 224, 224);
}

.footer{
    background-color: rgb(255, 227, 227);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.footer img{
    height: 1.5rem;
    margin: 0 5px;
    cursor: pointer;
}
.footer a:hover{
    transition: .3s all ease-in-out;
}
.footer a:hover{
    transform: scale(1.1);
}


@media only screen and (max-width : 992px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
    .grid-img img {
        max-width: 20vw;
    }
}

@media only screen and (max-width : 692px){
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .grid-img img{
        max-width: 40vw;
    }
}

@media only screen and (max-width : 400px){
  .flexBox{
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
  }  
}